h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
  background-color: green;
  opacity: 0.3;
}
p {
  color: red;
  font-family: tahoma;
  font-size: 160%;
   background-color: yellow;
}

h2 {
  background-color: lightblue;
}

body {
  background-color: grey;
}

.test{
    height:156px;
    width:250px;
	   background-color: yellow;
	     font-family: verdana;
  font-size: 300%;
}