h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: tahoma;
  font-size: 160%;
}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
h1 {
  background-color: green;
}

h2 {
  background-color: lightblue;
}

p {
  background-color: yellow;
}
h1 {
  background-color: green;
  opacity: 0.3;
}